<h1>Welcome</h1>

{{#if isLoggedIn}}
    <p>You are connected</p>
{{else}}
    <p>You are disconnected</p>
{{/if}}
<nav>
    <ul>
        <a href="/login">Login</a>
        <a href="/signup">Singup</a>
    </ul>
</nav>
<a href="/Paris">Paris</a>
<a href="/Lyon">Lyon</a>
<a href="/Marseille">Marseille</a>

<div>
    <p>Plase</p>
</div>