{{#if isSignedUp}}
    <h2>You are successfully signed in. Your profile</h2>
    <p>Name: {{req.body.name}}</p>
    <p>Email: {{req.body.email}}</p>
{{else}}
    <p> This account already exists. </p>
{{/if}}


{{#if isLoggedIn}}
    <p>You are connected</p>
{{else}}
    <p>You are disconnected</p>
{{/if}}


<a href="/">Logout</a>