<form action="/signup" method="POST" >
    <input type="text" name="username" id="username">
    <label for="username">username</label>
    <input type="text" name="email" id="email">
    <label for="email">Email</label>
    <input type="text" name="password" id="password">
    <label for="password">Password</label>
        <input type="text" name="confirmPassword" id="confirmPassword">
    <label for="password">Confirm Password</label>
    <input type="submit">
</form>
